body{
    background-color:#FFFCF2 ;
}
.main-container{
    display:flex;
    flex-direction:row;
   justify-content:space-around;
   flex-wrap: wrap;
}
.sub-container-1{
    background-color:#ebe8e2;
    height: 450px;
    width: 400px;
   margin-top: 40px;
    border-radius: 10px;
    padding-top: 40px;
  }
  .title{
   margin-left:140px ;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .text-name{
 margin-left:25px ;
  }
  .sample-page{
    background-color: blue;
    height: 350px;
  }
  .name-text{
margin-left: 85px;
  }
  