.footer-contaier {
    display: flex;
    background-color: #4b3D2D;
    color: #e3b785;
}
.footer-section-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:1200px;
}
.social-icons-container{
    display: flex;
    gap:15px;
    margin:10px;
}
.social-media-icons{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding:7px;
}
.footer-section-2{
    display: flex;
    flex-direction: column;
    gap:10px;
    width:800px;
}
.footer-section-3{
    display: flex;
    flex-direction: column;
    gap:10px;
    width:800px;
}
.footer-section-4{
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
}
@media screen and (max-width: 768px) {
    .footer-contaier {
        flex-direction: column;
        padding: 20px;
    }
    
    .footer-section-1,
    .footer-section-2,
    .footer-section-3,
    .footer-section-4 {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .social-icons-container {
        justify-content: center;
        margin: 15px 0;
    }
}


