.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
   background-color: #4B3D2D;
    color: white;
    margin-top: 50px;
}
.main-logo{
    border-radius: 50%;
    width: 60px;
}

.footer-section-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:900px;
}

.footer-section-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px; 
    margin-left:20px ;
}


.footer-section-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
    margin-bottom: 33px;
    margin-right: 10px;
}

.footer-section-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
   
}

.social-icon-container {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  
}

.social-icon {
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    padding: 0px;
    
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 5px;
   text-decoration: none;
}

.menu-subitem {
    text-decoration: none;
    color: white;
    vertical-align: text-top;
   margin-left:none ;
}
.location-text{
    margin-bottom: 47px;
}

.calling-logo{
    width: 22px;
    vertical-align: middle;
    
}
.pointer-provide{
    cursor: pointer;
}
.contact-division{
    text-decoration: none;
     color: white;
     margin-left: 5px;
}

@media (max-width: 768px) {
    .navbar-main-container {
        flex-direction: column;
        gap: 15px;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    .main-subheading {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .footer-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer-section-1,
    .footer-section-2,
    .footer-section-3,
    .footer-section-4 {
        width: 100%;
    }
}