body {
    margin: 0;
    padding-top: 0px;
    background-color: #E3D4B9;
}


.main-image {
    height: 400px;
    margin-top: 20px;
}

.main-content-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.project-heading {
    color: #483D2D;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project-subheading {
    font-size: 30px;
    font-style: italic;
    font-family: cursive
}

.get-started-button {
    padding: 10px 30px;
    font-size: 15px;
    background-color: #483D2D;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.get-started-button a {
    color: white;
    text-decoration: none;
}

.get-started-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.learn-more-button {
    padding: 10px 30px;
    font-size: 15px;
    background-color: #483D2D;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.learn-more-button a{
    text-decoration: none;
    color: white;
}

.learn-more-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-container {
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #483D2D;
    color: white;
}

@media screen and (max-width: 768px) {
    .main-content-container {
        flex-direction: column;
        align-items: center;
    }

    .project-heading {
        font-size: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .main-image {
        height: 300px;
    }

    .project-subheading {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .main-buttons-container {
        flex-direction: column;
    }
}

.oval-box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.box {
    background-color: rgb(224, 165, 122);
    height: 80px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #483D2D;
    margin-top: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    font-size: 20px;
}

.box a{
    text-decoration: none;
    color:brown;
}

.project-sub-heading {
    color: #483D2D;
    font-size: 25px;
    font-weight: bold;
    font-style: cursive;
    text-align: center;
    display: block;
    font-family: cursive;
    font-style: italic;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
   background-color: #4B3D2D;
    color: white;
    margin-top: 50px;
}
.main-logo{
    border-radius: 50%;
    width: 60px;
}

.footer-section-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:900px;
}

.footer-section-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px; 
    margin-left:20px ;
}


.footer-section-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
    margin-bottom: 33px;
    margin-right: 10px;
}

.footer-section-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
   
}

.social-icon-container {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  
}

.social-icon {
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    padding: 0px;
    
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 5px;
   text-decoration: none;
}

.menu-subitem {
    text-decoration: none;
    color: white;
    vertical-align: text-top;
   margin-left:none ;
}
.location-text{
    margin-bottom: 47px;
}

.calling-logo{
    width: 22px;
    vertical-align: middle;
    
}
.pointer-provide{
    cursor: pointer;
}
.contact-division{
    text-decoration: none;
     color: white;
     margin-left: 5px;
}

@media (max-width: 768px) {
    .navbar-main-container {
        flex-direction: column;
        gap: 15px;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    .main-subheading {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .footer-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer-section-1,
    .footer-section-2,
    .footer-section-3,
    .footer-section-4 {
        width: 100%;
    }
}